<div class="content">
    {% for blog in blogs %}
        <h3><a href="{% url 'sblog:detailblog' blog.id %}">{{ blog.caption }}</a></h3>
        <div><p>{{ blog.content}}</p></div> 
    {% endfor %}     
</div>  

<div class="pagination">
    <span class="step-links">
        {% if blogs.has_previous %}
            <a href="?page={{ blogs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
        </span>

        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>